*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin:50px 10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header{
    width: 80vw;
    height: 35vh;
    margin:20px 10%;
    background-image: url(../imagenes/design1_image1.jpg);
    background-size: cover;
    background-position: 0 40%;
    padding: .5rem;
}

nav{
    background-color: write;
    text-align: right;
}

.navegador{
    display: inline;
    border: 2px solid blue;
    background-color: blue;
    color: white;
    padding:5px;
    text-decoration: none;

}

a:hover{
    background-color: green;
}

.titulo{
    background-color: white;
    text-align: center;
    border: 2px solid black;
    margin:50px 10%;
} 

.logo{
    margin:50px 10%;
    height:200px;
}

.fechas{
    display:inline-block;
    margin: -5rem;
}

.textabout{
    display:inline-block;
}

.imagen{
    display:inline-block;
    height: 200px;
    margin: 50px;    
}